<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Architect working as a self-employed contractor. With over 15 years as a software developer & serial entrepreneur, it gives me a good blend of start-up and enterprise experience. <br/><br/>
			Smart Contract Auditing & Solidity development is a big passion of mine and looking to start a local user group about it. I also host the <a href="http://phpvegas.com">PHP Vegas</a> users' group and regularly attend local tech events to speak and network.
		</div>
		<br>
	</div>
</div>
